<h2>1. Creating two separate excel files and merging.</h2>

In [75]:
import xlsxwriter as xl
import pandas as pd

In [76]:
df = xl.Workbook('new1.xlsx')

In [77]:
ws = df.add_worksheet()

In [78]:
ws.write('A1','Names')
ws.write('A2','Anjishu')
ws.write('A3','Priyanka')
ws.write('A4','Rajesh')
ws.write('A5','Atul')
ws.write('A6','Atul')

0

In [79]:
df.close()
data = pd.read_excel('./new1.xlsx')

In [80]:
df = xl.Workbook('new2.xlsx')

In [81]:
ws = df.add_worksheet()

In [82]:
ws.write('A1','Scores')
ws.write('A2','95')
ws.write('A3','97')
ws.write('A4','87')
ws.write('A5','89')
ws.write('A6','89')

0

In [83]:
df.close()
data = pd.read_excel('./new2.xlsx')

In [84]:
df1 = pd.read_excel('./new1.xlsx')
df2 = pd.read_excel('./new2.xlsx')

In [85]:
df1

      Names
0   Anjishu
1  Priyanka
2    Rajesh
3      Atul
4      Atul

In [86]:
df2

   Scores
0      95
1      97
2      87
3      89
4      89

In [87]:
merged = pd.concat([df1, df2], axis=1)
merged.head()

      Names  Scores
0   Anjishu      95
1  Priyanka      97
2    Rajesh      87
3      Atul      89
4      Atul      89

In [120]:
merged.to_excel('merged.xlsx',header=True,index=False)

<h2>2. Sorting files</h2>

In [88]:
import os
import shutil
import sys

In [89]:
os.getcwd()

'c:\\Users\\Anjishnu Roy\\OneDrive\\Desktop\\yoshops\\Week 5'

In [90]:
os.chdir(r'../Week 4/')
new_dir=os.getcwd()
new_dir

'c:\\Users\\Anjishnu Roy\\OneDrive\\Desktop\\yoshops\\Week 4'

In [91]:
#listing all files and types(see extension)
os.listdir()

['Images_all',
 'music.mp3',
 'music_1.mp3',
 'output.mp4',
 'Python_file',
 'Python_files',
 'Sort_Images',
 'test.mp4']

In [101]:
path = str(os.getcwd())
try:
    os.makedirs('.\Sort_Images')
except OSError:
    print ("Already there At: "+path)
else:
    print ("Created successfully At: "+path)

Already there At: c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4

In [102]:
os.listdir()

['Images_all',
 'music.mp3',
 'music_1.mp3',
 'output.mp4',
 'Python_file',
 'Python_files',
 'Sort_Images',
 'test.mp4']

In [103]:
for files in os.listdir():
    if files.endswith(".jpg"):
        #print (files)
        destination = '.\Sort_Images'
        shutil.move(files, destination)

In [105]:
path = str(os.getcwd())
try:
    os.makedirs('.\Python_files')
except OSError:
    print ("Already there At: "+path)
else:
    print ("Created successfully At: "+path)

Already there At: c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4

In [106]:
for files in os.listdir():
    if files.endswith(".ipynb"):
        #print (files)
        destination = r'.\Python_file'
        shutil.move(files, destination)

<h2>3. Removing duplicates from csv/excel</h2>

In [107]:
import pandas as pd

In [108]:
os.chdir('../Week 5/')

In [109]:
os.getcwd()

'c:\\Users\\Anjishnu Roy\\OneDrive\\Desktop\\yoshops\\Week 5'

In [121]:
df = pd.read_excel('./merged.xlsx')
df

      Names  Scores
0   Anjishu      95
1  Priyanka      97
2    Rajesh      87
3      Atul      89
4      Atul      89

In [126]:
df.columns

Index(['Names', 'Scores'], dtype='object')

In [127]:
duplicates = df[df['Names'].duplicated()]
duplicates.head()

  Names  Scores
4  Atul      89

<h2>4. Sorting files by keywords</h2>

In [132]:
#os.chdir('../Week 4')
f_path = os.getcwd()
print(f_path)

c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all

In [133]:
os.listdir()

['img1.jpg', 'img2.jpg', 'img3.jpg', 'img4.jpg', 'img5.jpg', 'img6.jpg']

In [138]:
for name in os.listdir(f_path):
    if name.endswith('.jpg'):
        print(os.path.join(f_path ,name))

c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img1.jpg
c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img2.jpg
c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img3.jpg
c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img4.jpg
c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img5.jpg
c:\Users\Anjishnu Roy\OneDrive\Desktop\yoshops\Week 4\Images_all\img6.jpg