In [10]:
import xlsxwriter as xl
import pandas as pd

In [2]:
df = xl.Workbook('new.xlsx')

In [3]:
ws = df.add_worksheet()

In [6]:
ws.write('A1','Anjishu')
ws.write('B1','Priyanka')
ws.write('C1','Rajesh')
ws.write('D1','Atul')

0

In [9]:
df.close()

In [12]:
data = pd.read_excel('./new.xlsx')

In [13]:
data

Empty DataFrame
Columns: [Anjishu, Priyanka, Rajesh, Atul]
Index: []